/* Viewport width => vw --- Viewport Height => vh*/

/*
img{
width: 50vw;
height: 50vh;
border: lightslategray 0.2rem solid;
/*object-fit: cover; this is better but contain has it place*/
/*object-fit: contain; 
}
*/
/*
img:first-of-type{
    width:50vmax
}

img:last-of-type{
    width:50vmin
}
*/
/** media query for small website*/
/*
@media screen and (max-width:400px) {
    body{
        
        background-color:lawngreen;
    }
}

@media screen and (min-width:401px){
    body{
        background-color: blueviolet;
    }
}

@media screen and (min-width:600px){
    body{
        background-color: darkred;
    }
}

*/

/* Weather Website*/
/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*******************************   UTILITY COMPONENTS ********************************************/

:root{
    font-size: 62.5%;
}

body{
    background-color:#0f9b8e;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Paragraphs*/

p{
    font-size: 2rem;
    margin:0.5rem 0;
}

/* Icons*/
i{
    font-size: 5rem;
}

/*  Suprescript Elements*/
sup{
    font-size: 0.8rem;
}

/* changing the color when  highlighting */
::selection{
    color:#fcc006;
    background-color: #ff7052;
}

/******************************Main Styling********************************** */

/*Section => container of them all */
section#weather{
    margin:2rem auto 0;
}

/* Main Heading */
h1{
    text-align:center;
    font-size: 6rem;
    letter-spacing: 0.4rem;
    font-weight: 300;
}

/* Weather Info -- Temp Container */
div.weather__info__temp{
    padding: 4rem;
}

/* Weather Info*/
div.weather__info{
   display: flex; 
   justify-content: space-evenly;
   align-items: center;
   margin: 5rem 0 ;
}

/* Weather Temp Container */
div.weather__temp{
    display: flex;
    justify-content: space-evenly;
}



